@media (max-width: 1024px) {
	.left-block,
    .right-block {
    	width: 50%;
    }
}
@media (max-width: 1024px) {
	.wraper-box {
		display: flex;
		justify-content: space-between;
	}
}
@media (max-width: 1024px) {
	.main-box {
	display: flex;
	flex-wrap: wrap;
    }
}
@media (max-width: 1024px) {
   .box-item:nth-child(1),
   .box-item:nth-child(2),
   .box-item:nth-child(3),
   .box-item:nth-child(4),
   .box-item:nth-child(5),
   .box-item:nth-child(6) {
   	width: 48%;
   }
}

@media (max-width: 1024px) {
	.left-block {
		display: flex;
		justify-content: center;
	    align-items: center;
	    flex-direction: column;
	}
}
@media (max-width: 1024px) {
	.heading {
		text-align: center;
	    position: absolute;
	    font-size: 100px;
	    top: 270.5px;
	    color: white;
	}
}