.headerimage {
	width: 1280px;
	height: 900px;
}
.container-wraper {
	display: flex;
	width: 1280px;
}
.text1 {
	font-size: 50px;
	width: 468px;
	height: 186px;
	text-align: center;
	padding-top: 90px;
}
.left-block {
	width: 640px;
}
.right-block {
	width: 640px;
}
.text2 {
	font-size: 16px;
	text-align: center;
	width: 457px;
	height: 128px;
	margin-top: 88px;
}
.block {
	background-color: #325DFF;
	border-radius: 36px;
	width: 307px;
	height: 72px;
	margin-top: 58px;
}
.section-wraper {
	display: flex;
}
.texts1 {
	background-color: #325DFF;
}
.block2 {
	background-color: #325DFF;
	border-radius: 50%;
}