.H {
	background-image: url(../images/17.jpg);
	height: 900px;
	max-width: 2000px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}
.container {
	max-width: 1070px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 51px;
}
.nav-ul {
	display: flex;
}
.nav-li {
	margin-right: 30px;
}
.nav-li a {
	color: white;
	font-size: 12px;
}
.heading {
	max-width: 1017px;
	width: 100%;
	text-align: center;
	position: absolute;
	font-size: 100px;
	top: 270.5px;
	color: white;
}
.wraper-box {
	display: flex;
	max-width: 2000px;
	width: 100%;
}
.text1 {
	font-size: 50px;
	width: 468px;
	height: 186px;
	padding-top: 90px;
}
.left-block,
.right-block {
	width: 50%;
}
.left-block {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.text2 {
	font-size: 16px;
	width: 457px;
	height: 128px;
	margin-top: 88px;
}
.block {
	background-color: #325DFF;
	border-radius: 36px;
	width: 307px;
	height: 72px;
	margin-top: 58px;
	color: white;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	padding: 27px 45px 23px 45px;
}
.right-block img {
    width: 100%;
    height: 601px;
    object-fit: cover;
    display: block;
}
.section3 {
	background-color: #FAFAFA;
}
.section-title {
	font-size: 35px;
	text-align: center;
}
.title-text {
    font-size: 16px;
    text-align: center;
    margin-top: 9px;
}
.texts {
	width: 771px;
	margin: 0 auto;
}
.container-box {
	width: 1171px;
	margin: 0 auto;
	padding-top: 76px;
	padding-bottom: 117px;
}
.box-item {
	width: 371px;
	height: 374px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.box-item p {
	width: 251px;
	text-align: center;
}
.box-item h3 {
	margin: 23px 0 9px 0;
}
.main-box {
	max-width: 1113px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.box-item:nth-child(4),
.box-item:nth-child(5),
.box-item:nth-child(6) {
	margin-top: 25px;
}
.icon {
	width: 88px;
	height: 88px;
	background-color: #325DFF;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}